body{
  text-align: center;
}
nav{
  background-color: #5b0582;
}
.wel{
color: #5b0582;
font-family: 'Oswald';
text-align: center;
font-size: 4rem;
margin: 100px;
}
.dig{
  border: solid 2px;
  border-radius: 10px;
  background-color: #5b0582;
  color: #fff;
  font-family: 'Oswald';
  text-align: center;
  font-size: 2rem;
  width: 400px;
  height: 50px;
  margin: 50px auto;
  }

.navbar-brand{
  color: #fff;
  font-family: 'Merienda';
  padding-left: 50px;
}
.nav-link{
  font-family: 'Oswald';
}
.nav-item{
  padding: 0 50px;
}
.row{
  text-align: center;
  color: #5b0582;
  font-family: 'Oswald';
}
.center{
  margin: 10px auto;
}
.card{
  margin: 0 10%;
}

.skills{
  text-align: center;
  background-color: #5b0582;
  color: #fff;
  font-family: 'Oswald';
}
.skill{
  font-family: 'Oswald';
}
.p1{
  font-family: 'Merienda';
}
.p2{
  font-family: 'Merienda';
}