body {background-color: hsl(180, 38%, 87%);
    margin: 10px 20px 10px 90px;
    border: solid seagreen;
    border-width: 100px;
    border-style: groove;
    padding: 30px 30px;
}
hr{
border-style: dotted none none;
border-width: 10px;
border-color: grey;
width: 10%
}
img {
  width: 100px;
  
}
h3{
color: #66bfbf;
}
h1{
color: #66bfbf;
}
.Back{
  position: relative;
  left: 400px;
  text-decoration: none;
}

