
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-size: 1rem;
  background-color:#fff;
}
.bar {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.bar{
  background-color: #f1f1f1;
  padding: 10px;
  flex: 50%;
}

.bar {
  background-color: dodgerblue;
  padding: 10px;
  flex: 50%;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}


  

.Top-Container{
  position: absolute;
  width: 100%;
}
.wel{
  font-size: 3rem;
  width: 600px;
  height: 70px;
  border-radius: 5px;
  font-family: 'Oswald';
  color: #451e1e;
  margin-left: 350px;
  position: relative;
  display: block;
  margin-bottom: 50px;
}
.dig{
  font-size: 2rem;
  font-family: 'Big Shoulders Stencil Text';
  color: #fa3c07;
  margin-left: 700px;
  padding-top: 100px;
  padding: 5px;
}
.Dig-Content{
  width: 500px;
  height: 350px;
  border: solid 4px;
  border-radius: 10px;
  margin-left: 600px;
  font-size: 2rem;
  color: #451e1e;
  text-align: center;
  background-image: conic-gradient( #6e2828, #faf607, #d78080 ) ;
}
.img6{
  position:relative;
  display: inline-block;
  margin-top: 150px;
  margin-left: 20px;
  background-color:#fa3c07;
  border-radius: 100px;
}
hr{
  width: 500px;
  border: dotted 20px;
  margin: 5% 30%;
  border-width: 20px 0 0;
  border-color: #b9a9a9;
  
  
}
.Middle-Container{
  text-align: center;
 color: #fa3c07;
 font-family: 'Merienda';
}
.resume{
  background-color: #fa3c07;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
}
.resume:hover{
  color: #451e1e;
  background-color:#c75858;
}